<!-- <div class="header">
  <div class="image_div"><img src="assets/logo.jpg"/></div></div>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
 
  <div><ul class = "">
      <li class = "nav-item">
          <a routerLink="apply-loan" routerLinkActive="active" class="nav-link" >Apply Loan</a>
      </li>
      <li class = "nav-item">
          <a routerLink="check-status" routerLinkActive="active" class="nav-link" >Check Status</a>
      </li>
  </ul>
</div>
</nav>


<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      
  </div>
</footer> -->

<div class="header">
  <div class="image_div"><img src="assets/logo.jpg"/></div></div>
  <div class="container_nav">
		<div class="menu-button">Menu</div>
		<ul class="flexnav" data-breakpoint="800">
		  <li class="nav-item"><a routerLink="apply-loan" routerLinkActive="active" class="nav-link" >Apply Loan</a></li>
     
       <li class="nav-item"><a routerLink="check-status" routerLinkActive="active" class="nav-link" >Check Status</a></li>
			
		</ul>
	</div>
   

 <div class = "container">
  <router-outlet></router-outlet>
</div>